.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImage {
  width: 23rem;
  height: 19rem;
}

.logoName {
  width: 19.8rem;
  height: 6rem;
  margin-top: 1rem;
}

.welcomeMessage {
  margin-top: 1.4rem;
  font-size: 2rem;
  font-weight: 500;
}

.inputContainer {
  margin-top: 3.2rem;
}

.title {
  @include text-m(400);
}

.agreeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.8rem;
}

.agreeCheck {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid $gray_D9;
  border-radius: 0.4rem;
}

.agreeMessage {
  @include text-m(400);
}

.button {
  width: 52rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 23.6rem;
  border-radius: 0.8rem;
  margin-bottom: 2.6rem;
  background-color: $gray_D9;
  color: $white_FF;
  cursor: not-allowed;

  @include text-l(500);
}

.buttonEnabled {
  width: 52rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 23.6rem;
  border-radius: 0.8rem;
  margin-bottom: 2.6rem;
  background-color: $purple_76;
  color: $white_FF;
  cursor: pointer;

  @include text-l(500);
}

.question {
  margin-top: 2.4rem;
  margin-bottom: 7rem;
  text-align: center;

  @include text-m(400);
}

.goToLoginPage {
  padding: 0.5rem;
  color: $violet_55;
}
