.input {
  width: 520px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid $gray_D9;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.inputContainer {
  position: relative;
}

.errorInput {
  width: 520px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid $red_D6;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.errorMessage {
  margin-bottom: 8px;
  color: $red_D6;
  font-size: 14px;
}

.toggleButton {
  position: absolute;
  color: $gray_9F;
  right: 15px;
  top: 22px;
}

.icon {
  width: 24px;
  height: 24px;
}
