.imageInput {
  display: flex;
  position: relative;
  width: 7.6rem;
  height: 7.6rem;
  padding: 2.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #f5f5f5;
}

.imagePreview {
  /*width: 7.6rem;
  height: 7.6rem;*/
  object-fit: cover;
}

.imageInputButton {
  display: block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 6px;
  background: #f5f5f5;
  cursor: pointer;
  user-select: none;
}

.imageInputField {
  display: none;
}
