.memberprofileGroup {
  display: flex;

  .memberProfile {
    @include text-m(600);

    position: relative;
    display: flex;
    width: 3.8rem;
    height: 3.8rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid $white_FF;
    border-radius: 50%;
    background-color: $gray_D9;
    color: $white_FF;
  }

  .plusProfile {
    @include text-m(600);

    position: relative;
    display: flex;
    width: 3.8rem;
    height: 3.8rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid $white_FF;
    border-radius: 50%;
    background-color: $gray_9F;
    color: $white_FF;
  }
}

.dropdown {
  @include text-m(400);

  position: absolute;
  top: 6.4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.6rem;
  border: 0.1rem solid $gray_D9;
  border-radius: 0.8rem;
  background: $white_FF;
}

.memberList {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0.8rem;
  gap: 0.6rem;

  .member {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .allMemberProfile {
    @include text-m(600);

    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid $white_FF;
    border-radius: 50%;
    background-color: $gray_D9;
    color: $white_FF;
  }

  .memberName {
    @include text-m(400);
  }
}
