.header {
  display: flex;
  width: 100%;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  border-bottom: 1px solid $gray_D9;
  background: $white_FF;
}

.title {
  @include text-xl(700);

  display: flex;
  align-items: center;
  color: $black_33;
  gap: 0.8rem;
  white-space: nowrap;
}

.operation {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.button {
  display: flex;
  gap: 1.6rem;
}

.line {
  display: flex;
  height: 3.5rem;
  border-left: 1px solid $gray_D9;
}

.memberprofileGroup {
  display: flex;
  gap: -10rem;
}

.memberProfile {
  @include text-m(600);

  position: relative;
  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid $white_FF;
  border-radius: 50%;
  background-color: $blue_76;
  color: $white_FF;
}

.plusProfile {
  @include text-m(600);

  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid $white_FF;
  border-radius: 99px;
  background-color: $blue_76;
  color: $white_FF;
}

.myprofileGroup {
  display: flex;
  gap: 1.2rem;
}

.myProfile {
  @include text-m(600);

  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid $white_FF;
  border-radius: 99px;
  background-color: $blue_76;
  color: $white_FF;
}

.myName {
  @include text-m(500);

  display: flex;
  align-items: center;
  color: $black_33;
}
