.editpageLayout {
  width: 100%;
  padding: 2.5rem;
  background: #fafafa;
}

.editpageSection {
  max-width: 62rem;
  flex-shrink: 0;
  padding: 3.5rem 3rem;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  background: $white_FF;

  @include media(tablet) {
    width: 100%;
  }
}

.dashboardNameAndColor {
  display: flex;
  justify-content: space-between;
}

.dashboardName {
  @include text-xl(700);

  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.colorBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.colorSelectContainer {
  position: relative;
}

.checkIcon {
  position: absolute;
  top: 50%;
  left: 3.5px;
  transform: translateY(-50%);
}

.colorSelect {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 9999px;
  margin: 0;
  appearance: none;
  cursor: pointer;

  &:checked + .checkIcon {
    display: block; /* 체크된 경우에만 표시 */
  }
}

@include media(mobile) {
  .mobileOnly {
    display: none;
  }
}

.nameChangeInputBox {
  display: flex;
  flex-direction: column;
  margin: 3.7rem 0 3rem;
  gap: 1rem;
}

.inputLabel {
  @include text-l(500);

  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.dashboardNameInput {
  @include text-m(400);

  max-width: 56.4rem;
  height: 4.8rem;
  flex-shrink: 0;
  padding: 1.5rem;
  border: 1px solid $gray_D9;
  border-radius: 6px;
  background: $white_FF;
  color: $black_33;
  font-style: normal;
  line-height: normal;

  @include media(tablet) {
    width: 100%;
  }
}

.taskBtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.dashboardDeleteButton {
  margin-top: 4rem;
}

.titleAndPagenation {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  @include media(mobile) {
    align-items: flex-start;
  }
}

.sectionTitle {
  @include text-2xl(700);

  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.pagenation {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.whereAmI {
  @include text-s(400);

  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.infoCategory {
  @include text-m(400);

  margin-top: 2.7rem;
  margin-bottom: 0.8rem;
  color: $gray_9F;
  font-style: normal;
  line-height: normal;
}

.profileImg {
  @include text-m(600);

  position: relative;
  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $white_FF;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.members > :not(:last-child) {
  border-bottom: 1px solid $gray_EE;
}

.imgAndNickname {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.isOwner {
  display: flex;
  width: 8.4rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.memberInfo {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0;
}

.nickname {
  @include text-m(400);

  display: flex;
  align-items: center;
  justify-content: center;
  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.invitationBtn {
  @include text-s(500);

  display: flex;
  width: 10.5rem;
  height: 3.2rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: $violet_55;
  color: $white_FF;
  font-style: normal;
  gap: 0.6rem;
  line-height: normal;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  @include media(mobile) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.noInvitations {
  @include text-l(400);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.6rem 0;
  color: $gray_9F;
  font-style: normal;
  gap: 2rem;
  line-height: normal;
  text-align: center;
}
