.modalContainer {
  position: relative;
  margin: 3.2rem 2.8rem;
}

.modalName {
  @include text-2xl(700);

  margin-bottom: 3rem;
  color: $black_33;
  font-style: normal;
  line-height: normal;
}

.columnDelete {
  @include text-s(400);

  position: relative;
  top: 7rem;
  color: $gray_9F;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
}

.modalButton {
  position: relative;
  top: 3rem;
  left: 36rem;
}
