.homePageLayout {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainSection {
  display: flex;
  width: 120rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9rem 0;
}

.coverImg {
  // width: 72.2rem;
  // height: 42.3rem;
  flex-shrink: 0;
  border-radius: 8px;
}

.mainTextBox {
  display: flex;
  align-items: center;
  margin: 4rem 0 8rem;
  gap: 2.8rem;
}

.mainTitle {
  color: $black_00;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 10rem;
  text-align: center;
}

.mainArticleBox {
  display: flex;
  width: 100%;
  height: 60rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 8px;
  background: $violet-F1;
}

.mainArticleImg {
  display: flex;
  width: 59.4rem;
  height: 49.8rem;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
}

.mainArticleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 10rem;
}

@media screen and (width >= 1201px) {
  .mainArticleBox {
    &:nth-child(odd) {
      flex-direction: row;
      padding-left: 10rem;

      .mainArticleImg {
        margin-left: auto;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      padding-right: 10rem;

      .mainArticleImg {
        margin-right: auto;
      }
    }
  }
}

@media screen and (width <= 1200px) {
  .mainArticleBox {
    flex-direction: column;
  }
}

.logoTitle {
  width: 400px;
  height: 120px;
}

.mainArticleTextBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
}

.point {
  color: $gray_9F;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainArticleDescription {
  width: 40rem;
  color: $black_00;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
}

.subArticleSection {
  display: flex;
  width: 120rem;
  flex-direction: column;
  margin-bottom: 10rem;
}

.subArticleMainTitle {
  margin-bottom: 3.6rem;
  color: $black_00;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subArticle {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 3.5rem;
}

.subArticleImgBox {
  display: flex;
  width: 37.8rem;
  height: 26rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem 0.8rem 0 0;
  background: $violet-F1;
}

.subDescriptionBox {
  display: flex;
  width: 37.8rem;
  height: 12.4rem;
  flex-direction: column;
  flex-shrink: 0;
  padding: 3.3rem;
  border-radius: 0 0 0.8rem 0.8rem;
  background: $violet_55;
  color: $white_FF;
  font-style: normal;
  gap: 1.8rem;
  line-height: normal;
}

.subArticleTitle {
  @include text-l(700);
}

.subArticleDescription {
  @include text-m(500);
}
