.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  position: relative;
  background: $white_FF;
  border-radius: 8px;
}

.cancelButton {
  position: absolute;
  bottom: 2.8rem;
  right: 16rem;
}
/*할일 생성, 수정 모달 크기*/
.large {
  width: 50.6rem;
  height: 90.7rem;
}

/*보통 모달 크기*/
.small {
  width: 54rem;
  height: 30rem;
}
