.container {
  display: grid;
  height: 100vh; // 전체 화면 높이
  grid-template-columns: 30rem 1fr; // 첫 번째 열은 300px, 두 번째 열은 나머지 공간
  grid-template-rows: 7rem 1fr; // 첫 번째 행은 70px, 두 번째 행은 나머지 공간
}

.navbar {
  grid-row: 1; // 첫 번째 행
  grid-column: 2; // 두 번째 열
  background-color: bisque;
  width: 100%;
  height: 7rem;
}

.menu {
  background-color: lightblue; // 예시 배경색
  grid-column: 1; // 첫 번째 열
  grid-row: 1 / 3; // 첫 번째 행에서 두 번째 행까지
}

.contentContainer {
  display: flex;
  flex-direction: column;
  grid-column: 2; // 두 번째 열
  grid-row: 2; // 두 번째 행
  background-color: $gray_FA;
}

.newDashboard {
  display: grid;
  grid-template-columns: repeat(3, 33.5rem);
  grid-gap: 1.3rem 1.2rem;
  justify-content: start;
  margin: 4rem 3.5rem 1rem;
  align-items: flex-start;
}

.invitedDashboard {
  background-color: $white_FF;
  width: 102.2rem;
  height: 50rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-left: 3.5rem;
  overflow: hidden;
}

.invitedTitle {
  @include text-2xl(700);
  padding-left: 2.8rem;
  padding-top: 3.2rem;
}

.noInvitedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.noInvitedImage {
  margin-top: 14rem;
  width: 10rem;
  height: 10rem;
}

.noInvited {
  margin-top: 2.4rem;
  color: $gray_9F;
  @include text-l(400);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: calc(3 * 33.5rem + 4 * 1.3rem); /* 마지막 대시보드의 너비에 맞춤 */
  justify-content: flex-end; /* 페이지네이션 버튼을 오른쪽에 정렬 */
  margin-bottom: 5.5rem;
}

.whereAmI {
  @include text-s(400);
}

.invitedInput {
  width: 96.6rem;
  height: 4rem;
  border: 0.1rem solid $gray_D9;
  margin-top: 2rem;
  margin-left: 2.8rem;
  border-radius: 0.6rem;
  padding-left: 5.5rem;
}

.yesInvitedContainer {
  position: relative;
  // flex-grow: 1; // 나머지 공간을 모두 채움
  // overflow-y: auto; // 세로 스크롤 가능
}

.searchIcon {
  position: absolute;
  left: 5rem;
  top: 2.8rem;
  width: 2.4rem;
  height: 2.4rem;
}

.invitedListContainer {
  width: 100%; /* 컨테이너 전체 너비 */
  display: flex;
  flex-direction: column;
}

.invitedListHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 2.8rem;
  @include text-m(400);
  color: $gray_9F;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}

.invitedListColumn {
  flex: 1; /* 모든 컬럼의 비율을 1:1:1로 설정 */
}

.invitedListItem {
  display: flex;
  padding-left: 2.8rem;
  justify-content: space-between;
  @include text-m(400);
  align-items: center;
  border-bottom: 1px solid $gray_EE; /* 항목 간 구분선 */
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.button {
  display: flex;
  gap: 1rem;
}

.scroll {
  max-height: 30rem; // 최대 높이 설정
  overflow-y: auto; // 내용이 넘칠 경우 스크롤 가능
}

.scroll::-webkit-scrollbar {
  background-color: $white_FF;
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $violet_55;
  border-radius: 0.7rem;
}
