.card {
  position: relative;
  display: flex;
  width: 31.4rem;
  height: fit-content;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid $gray_D9;
  border-radius: 6px;
  background-color: $white_FF;
}

.cardImage {
  display: flex;
  width: 27.4rem;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 1.2rem;
  object-fit: cover;
}

.cardTitle {
  @include text-m(500);

  color: $black_33;
}

.tagContainer {
  @include text-xs(400);

  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.4rem;
}

.tag {
  display: flex;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  background-color: $gray_D9;
  color: $black_33;
}

.dateContainer {
  @include text-xs(500);

  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  color: $gray_78;
  gap: 0.4rem;

  .date {
    margin-top: 0.2rem;
  }
}

.profile {
  @include text-xs(600);

  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $blue_76;
  color: $white_FF;
  object-fit: cover;
}
