.sidebar {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 30rem;
  flex-direction: column;
  flex-shrink: 0;
  padding: 2rem 0;
  border-right: 1px solid $gray_D9;
  background-color: $white_FF;
}

.logoTitle {
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  gap: 0.6rem;
}

.sidebarTitle {
  @include text-xs(700);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 6rem;
  color: $gray_78;
}

.dashboardList {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  margin-top: 1.8rem;
  gap: 0.8rem;
}

.dashboardList > li {
  @include text-l(500);

  display: flex;
  height: 3.6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 6px;
  background: $white_FF;
  color: $gray_78;
  gap: 0.6rem;

  &:hover {
    background: $gray_EE;
  }
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: $gray_78;
}

.iconCrown {
  height: 0.05rem;
}

@include media(tablet) {
  .sidebar {
    width: 16rem;
  }

  .logoTitle {
    width: 10.9rem;
    margin-left: 2rem;
  }

  .iconTitle {
    display: none;
  }

  .name {
    @include text-m(500);
  }
}

@include media(mobile) {
  .sidebar {
    width: 6.7rem;
  }

  .sidebarTitle > p {
    display: none;
  }

  .name {
    display: none;
  }

  .dashboardList > img {
    display: none;
  }

  .logoTitle {
    padding: 0;
    margin-left: 0.3rem;
  }
}
