.commentContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.label {
  color: $black_33;
  @include text-m(500);
  font-style: normal;
  line-height: normal;
}

.commentBox {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.commentInput {
  @include text-s(400);
  font-style: normal;
  line-height: normal;
  resize: none;
  width: 45rem;
  height: 11rem;
  padding: 1.6rem;
  border-radius: 6px;
  border: 1px solid $gray_D9;
  background: $white_FF;

  &:focus {
    border: 1px solid $violet_55;
  }

  &::placeholder {
    color: $gray_9F;
    @include text-s(400);
    font-style: normal;
    line-height: normal;
  }
}

.submitButton {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}
