$black_00: #000000;
$black_17: #171717;
$black_33: #333236;
$black_4B: #4B4B4B;
$gray_78: #787486;
$gray_9F: #9FA6B2;
$gray_D9: #D9D9D9;
$gray_EE: #EEEEEE;
$gray_FA: #FAFAFA;
$white_FF: #FFFFFF;
$violet_55: #5534DA;
$violet_F1: #F1EFFD;
$red_D6: #D6173A;
$green_7A: #7AC555;
$purple_76: #760DDE;
$orange_FF: #FFA500;
$blue_76: #76A5EA;
$pink_E8: #E876EA;