$black_00: #000000;
$black_17: #171717;
$black_33: #333236;
$black_4B: #4b4b4b;
$gray_78: #787486;
$gray_9F: #9fa6b2;
$gray_D9: #d9d9d9;
$gray_EE: #eeeeee;
$gray_FA: #fafafa;
$white_FF: #ffffff;
$violet_55: #5534da;
$violet_F1: #f1effd;
$red_D6: #d6173a;
$green_7A: #7ac555;
$purple_76: #760dde;
$orange_FF: #ffa500;
$blue_76: #76a5ea;
$pink_E8: #e876ea;
