$breakpoints: (
  mobile: 'screen and (max-width: 768px)',
  tablet: 'screen and (max-width: 1200px)',
  pc: 'screen and (min-width: 1201px)',
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
