$breakpoints: (
  mobile: 'screen and (max-width: 768px)',
  tablet: 'screen and (max-width: 1200px)',
  pc: 'screen and (min-width: 1201px)',
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin text-xs($weight) {
  font-size: 12px;
  font-weight: $weight;
}

@mixin text-s($weight) {
  font-size: 14px;
  font-weight: $weight;
}

@mixin text-m($weight) {
  font-size: 16px;
  font-weight: $weight;
}

@mixin text-l($weight) {
  font-size: 18px;
  font-weight: $weight;
}

@mixin text-xl($weight) {
  font-size: 20px;
  font-weight: $weight;
}

@mixin text-2xl($weight) {
  font-size: 24px;
  font-weight: $weight;
}
