@mixin text-xs-400 {
  font-size: 12px;
  font-weight: 400;
}

@mixin text-xs-500 {
  font-size: 12px;
  font-weight: 500;
}

@mixin text-xs-600 {
  font-size: 12px;
  font-weight: 600;
}

@mixin text-s-400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin text-s-500 {
  font-size: 14px;
  font-weight: 500;
}

@mixin text-s-600 {
  font-size: 14px;
  font-weight: 600;
}

@mixin text-m-400 {
  font-size: 16px;
  font-weight: 400;
}

@mixin text-m-500 {
  font-size: 16px;
  font-weight: 500;
}

@mixin text-l-500 {
  font-size: 18px;
  font-weight: 500;
}

@mixin text-xl-700 {
  font-size: 20px;
  font-weight: 700;
}

@mixin text-2xl-700 {
  font-size: 24px;
  font-weight: 700;
}
